[Unit]
Description=Laundry services

[Service]
ExecStart=/usr/bin/java -jar {{ laundry_home }}/laundry.jar -p {{ laundry_port }} --api-key-file {{ laundry_api_key_path }}
User={{ laundry_user }}
Group={{ laundry_user }}
Type=simple
KillMode=process
Restart=always
WorkingDirectory={{ laundry_home }}

[Install]
WantedBy=multi-user.target
